{% load static %}
<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="content-language" content="ja">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  {% block meta_tag %}{% endblock %}
  <link href="{% static 'css/semantic.css' %}" rel="stylesheet">
  {% block css %}{% endblock %}
  <title>
      {% block title %}3ちゃんねる{% endblock %}
  </title>
</head>

<body>
  <div class="ui stackable inverted menu">
    <a href="{% url 'board:index' %}" class="header item">
        3ちゃんねる
    </a>
    <a class="item" href="{% url 'board:about' %}">
        このサイトはなに？
    </a>
    <div class="right menu">
        {% if user.is_authenticated %}
        <!-- ログインしているとき -->
        <span class='item'>name : {{ user }}</span>
        <a class="item" href="{% url 'board:index' %}">トップ</a>
        <a class="item" href="{% url 'board:create' %}">スレッド作成</a>
        <a class="item" href="{% url 'accounts:profile' %}">ユーザー情報</a>
        <a class="item" href="{% url 'accounts:logout' %}">ログアウト</a>
        {% else %}
        <!-- ログインしていないとき -->
        <a class="item" href="{% url "accounts:login" %}">ログイン</a>
        <a class="item" href="{% url "accounts:signup" %}">ユーザー登録</a>
        {% endif %}
    </div>
  </div>

  <div class="ui container" style="min-height:100vh;">
      {% block content %}
      {% endblock %}
  </div>
  <div class="ui inverted stackable footer segment">
    <div class="ui container center aligned">
      <div class="ui horizontal inverted small divided link list">
        <a class="item" href='{% url "board:index" %}'>© 2022 3ちゃんねる</a>
        <a class="item" href='{% url "board:terms" %}'>利用規約</a>
        <a class="item" href='{% url "board:policy" %}'>プライバシーポリシー</a>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="{% static 'js/semantic.js' %}"></script>
  {% block js %}{% endblock %}
</body>
