html, body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body, h1, hr {
  margin: 0px;
}

a{
  color: #ff00ff;
  text-decoration:underline;
}

nav p{
  margin: 0px;
  font-size: 30px;
}

nav{
  padding: 10px 10px;
  color: #e8e8e8;
  background-color: #41a888;
}

nav .site-name{
  display: inline-block;
}

nav ul{
  margin: 0px;
  padding: 0px;
  float: right;
}

nav ul li{
  padding: 10px;
  display: inline-block;
}

.title{
  margin: 21px 50px;
}

.content{
  margin: 20px 50px;
}