{% extends 'base/base.html' %}
{% block title %}{{category.name}} - {{ block.super }}{% endblock %}
{% block content %}
<div class="ui grid stackable">
  <div class="eleven wide column">
    <div class="ui breadcrumb">
      <a class="section">TOP</a>
      <a class="active section">{{category.name}}</a>
    </div>
    <div class="ui segment">
      <div class="content">
        <div class="header"><h3>{{category.name}}</h3></div>
        {% include 'base/pagination.html' %}
        <div class="ui divided items">
          {% if threads %}
          {% for thread in threads %}
          <div class="item">
            <div class="content">
              <div class="header">
                <a href="{% url 'board:detail' pk=thread.id %}"><h4>{{thread.title}}</h4></a>
              </div>
              <div class="meta">
                <span class="name">{{thread.created_by}}</span>
                <span class="date">{{thread.created_at}}</span>
              </div>
            </div>
          </div>
          {% endfor %}
          {% else %}
          <div class="ui warning message">トピックが存在しません</div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% include 'base/sidebar.html' %}
</div>
{% endblock %}
